/* You can add global styles to this file, and also import other style files */
html,body {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 0 auto;
    font-family: verdana;
    min-width: 325px;
}